fastapi
uvicorn[standard]
flwr==1.7.0
pydantic
requests
python-multipart
jinja2
sqlalchemy
psycopg2-binary
cryptography
torch
torchvision
torchaudio
facenet-pytorch
numpy
Pillow
opencv-python-headless
scikit-learn
matplotlib
seaborn